body{
    margin: auto;
    padding: 0px;
    max-width: 100vw;
    align-items: center;
    /* height: 100vh; */
    /* background-color: rgb(228, 224, 224); */
    
}
.maincontaner{
display: flex;
flex-direction: column;
 margin: 0px;
 padding: 0px;
}
.contaner{
    border: 2px solid black;
}
#navbar{
display: flex;
flex-direction: column;
padding: 0px;
 height: 15vh;
 /* border: 2px solid rgb(15, 12, 12); */
 /* background-color: rgb(13, 13, 60); */
}
.uppernavebar{
display: flex;
flex-direction: row;
flex-wrap: nowrap;
justify-content: space-around;
align-items: center;
height: 9vh;
border: 2px solid black;
background-color: rgb(15, 19, 26);;
}
#uppernave1{
    width: 20vw;
}
#uppernave2{
    width: 80vw;
}
#upper{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
    height: 9vh;
    border: 2px solid black;
    background-color: rgb(15, 19, 26);;
}
#logo{
    width: 10vw;
    height: 80%;
    align-items: center;
    /* margin: auto; */
    background-image: url('amazon.png');
    background-size: 100%;
    background-repeat: no-repeat;
}
#location{
 width: 10vw;
 height: 80%;
 background-image: url('select.png');
 background-repeat: no-repeat;
 background-size: 100%;
}
#search{
    display: flex;
    flex-direction: row;
 width: 35vw;
 height: 70%;
 border: 2px solid white;
}
.search{
    width: 35vw;
    height: 100%;
    font-size: x-large;
}
#all{
    width: 4vw;
    height: 80% 100%;
    background-image: url('all.png');
    background-size: 100%;
    background-repeat: no-repeat;
}
#sb{
 width: 3.5vw;
 /* border: 2px solid wheat; */
 height: 110% 60%;
 background-image: url('sb.png');
 background-repeat: no-repeat;
 background-size: 100% 100%;
}
#countary{
    width: 5vw;
    height: 80%;
    background-image: url('en.png');
    background-repeat: no-repeat;
    background-size: 100%;
    /* border: 1px solid red; */
}
#order{
    width: 10vw;
    height: 80%;
    /* border: 2px solid white; */
    background-image: url('re.png');
    background-repeat: no-repeat;
    background-size: 100%;
}
#basket{
    width: 5vw;
    height: 80%;
    background-image: url('cart.png');
    background-repeat: no-repeat;
    background-size: 100%;
    /* border: 2px solid white; */
}
#downavbar{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
height: 5vh;
background-color: rgb(49, 49, 71);
}
#leftdown{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 75vw;
    justify-content: space-evenly;
    color: rgb(242, 238, 238);
}
#leftdown span{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    font-size: large;
    font-weight: 500;
}
#category{
    position: relative;
    top: 1vh;
    align-items: center;
    width: 50px;
    height: 50px;
    background-image: url('doall.png');
    background-repeat: no-repeat;
    background-size: 100%;
    /* border: 2px solid white; */
}
#rightdown{
 /* display: flex; */
 /* flex-direction: row; */
 width: 25vw;
 height: 4vh;
 background-image: url(JOIN.png);
 background-repeat: no-repeat;
 background-size: 95% 92%;
}
.commonanimation{
    position: relative;
    left: 0px;
    width: 45vw;
    height: 100%;
}
.topscoller{
    /* position: relative; */
    /* left: 50vw; */
    height: 40vh;
    /* width: 50vw; */
    align-items: center;
    margin: 20px;
    margin-top: 5px;
    /* border: 2px solid black; */
    background-image: url('animation4.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
     /* box-shadow: 1px 2px 10px 5px black; */
     animation: slider 8s infinite linear;
}
@keyframes slider{
    0%{
     background-image: url('animation1.png');
    }
    35%{
     background-image: url('animation2.png');
    }
    75%{
     background-image: url('animation3.png');
    }
}
.contaner{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: auto;
    align-items: center;
    flex-wrap: wrap;
    padding: 5px;
    /* background-color: rgb(228, 224, 224); */
    height: max-content;
}
.productcollection1{
    display: flex;
    flex-wrap: nowrap;
    justify-content:space-around;
    height: 60vh;
    width:100%;
    margin: 20px auto;
    /* border: 3px solid rgb(15, 15, 15); */
    background-color: white;
}
.productcollection2{
    display: flex;
    flex-wrap: nowrap;
    justify-content:space-around;
    height: 50vh;
    width:100%;
    margin: 20px auto;
    /* border: 3px solid rgb(8, 8, 8); */
    background-color: white;
}
.productcollection3{
    display: flex;
    flex-wrap: nowrap;
    justify-content:space-around;
    height: 60vh;
    width:100%;
    margin: auto;
    /* border: 3px solid rgb(15, 15, 15); */
    background-color: white;
}
.product1{
    width: 22vw;
    height: 95%;
    border: 2px solid black;
    background-color: white;
    margin: auto;
}
.product2{
    width: 18vw;
    height: 95%;
    border: 2px solid black;
    background-color: white;
    margin: auto;
}
.product1 img{
    width: 100%;
    height: 100%;
}
.product2 img{
    width: 100%;
    height: 100%;
}
.fotter1{
    background-image: url('fotter1.png');
    background-repeat: no-repeat;
    background-size: 100%;
    height: 100vh;
}
.fotter2{
    display: none;
    background-image: url('fotter2.png');
    background-repeat: no-repeat;
    background-size: 100%;
    height: 90vh;
}
@media screen and (max-width:1300px)  and (min-width:1050px){
    #leftdown span{
        font-size: medium;
        font-weight: 400;
    }
    #category{
        width: 30px;
        height: 30px;
    }
}
@media screen and (max-width:1050px) and (min-width:900px){
    #leftdown span{
        font-size: small;
        font-weight: 400;
    }
    #category{
        width: 30px;
        height: 30px;
    }
    #all{
        width: 5.3vw;
        height: 100%;
    }
    #search{
        width: 45vw;
        height: 65%;
       }
       .search{
           width: 40vw;
       }
       #all{
           width: 4vw;
       }
       #sb{
        width: 4vw;
       }
       .fotter1{
        height: 60vh;
    }
}
@media screen and (max-width:900px) and (min-width:650px){
    #location{
        display: none;
       }
    #rightdown{
        display: none;
    }
       #leftdown{
        width: 100%;
        overflow: visible;
    }
    #leftdown span{
        font-size: small;
        font-weight: 400;
    }
    #category{
        width: 30px;
        height: 30px;
    }
    #all{
        width: 5.3vw;
        height: 100%;
    }
    #logo{
        margin-top: 10px;
        width: 12vw;
    }
    #search{
     width: 50vw;
     height: 65%;
    }
    .search{
        width: 40vw;
    }
    #all{
        width: 5vw;
    }
    #sb{
     width: 5vw;
    }
    #countary{
        width: 10vw;
        height: 110%;
    }
    #order{
        width: 15vw;
        height: 100%;
    }
    #basket{
        width: 7.5vw;
    }
    .fotter1{
        height: 50vh;
    }
}
@media screen and (max-width:650px) and (min-width:475px){
    #location{
        display: none;
       }
    #rightdown{
        display: none;
    }
       #downavbar{
       display: none;

    }
    #uppernavebar{
        height: 7vh;
        align-items: center;
        }
    #all{
        width: 5.2vw;
        height: 100%;
    }
    #logo{
        margin-top: 10px;
        width: 15vw;
        height: 80%;
    }
    #search{
     width: 55vw;
     height: 50%;
    }
    .search{
        width: 45vw;
        font-size: medium;
    }
    #all{
        width: 5.2vw;
    }
    #sb{
     width: 5vw;
    }
    #countary{
     display: none;
    }
    #order{
        width: 15vw;
        height: 100%;
    }
    #basket{
        width: 7.5vw;
    }
    .productcollection2{
        flex-wrap: wrap;
        height: 120vh;
    }
    .product2{
        width: 30vw;
        height: 48%;
    }
    .fotter1{
        height: 40vh;
    }
}
@media screen and (max-width:475px) and (min-width:350px){
    #location{
        display: none;
       }
    #rightdown{
        display: none;
    }
       #downavbar{
       display: none;
    }
    .topscoller{
        display: none;
       }
    /* #navbar{
         height: 20vh;
        } */
    #upper{
        display: flex;
        flex-direction: column;
        height: 15vh;
    }
    #uppernavebar{
        height: 7vh;
        align-items: center;
    }

    #logo{
        width: 20vw;
        height: 95%;
    }
    #uppernave1{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        width: 100vw;
    }
    #search{
     width: 90vw;
     height: 85%;
     background-color: white;
     border-radius: 7px;
    }
    .search{
        width: 75vw;
        font-size: medium;
        border: none;
        
    }
    #all{
        display: none;
    }
    #sb{
     width: 13vw;
     border-radius: 5px;
    }
    #countary{
     display: none;
    }
    #order{
        display: none;
    }
    #basket{
        display: none;
    }
    #order2{
        width: 35vw;
        height: 100%;
        /* border: 2px solid white; */
        background-image: url('re.png');
        background-repeat: no-repeat;
        background-size: 60%;
    }
    #basket2{
        width: 10vw;
        height: 100%;
        background-image: url('cart.png');
        background-repeat: no-repeat;
        background-size: 100%;
        /* border: 2px solid white; */
    }
    .productcollection2{
        flex-wrap: wrap;
        height: 90vh;
    }
    .product2{
        width: 30vw;
        height: 40%;
    }
        .productcollection1,.productcollection3{
        flex-wrap: wrap;
        height: 70vh;
       }
       .product1{
        width: 45vw;
        height: 30vh;
       }
      .fotter1{
        display: none;
    }
    .fotter2{
        display: flex;
        justify-content: center;
        width: 100vw;
        align-items: center;
        margin: auto;
    }
}

@media screen and (max-width:350px) and (min-width:220px){
    #location{
        display: none;
       }
    #rightdown{
        display: none;
    }
       #downavbar{
       display: none;
    }
    .topscoller{
        display: none;
       }
    #countary{
        display: none;
       }
       #order{
           display: none;
       }
       #basket{
           display: none;
       }
    #upper{
        display: flex;
        flex-direction: column;
        height: 15vh;
    }
    #uppernavebar{
        height: 7vh;
        align-items: center;
    }
    #all{
        width: 5.3vw;
        height: 100%;
    }
    #logo{
        width: 25vw;
        height: 95%;
    }
    #uppernave1{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        width: 100vw;
        align-items: center;
        height: 6vh;
    }
    #search{
     width: 95vw;
     height: 85%;
    }
    .search{
        width: 80vw;
        font-size: medium;
    }
    #all{
    display: none;
    }
    #sb{
     width: 10vw;
    }
  
    #order2{
        width: 35vw;
        height: 90%;
        /* border: 2px solid white; */
        background-image: url('re.png');
        background-repeat: no-repeat;
        background-size: 60%;
    }
    #basket2{
        width: 15vw;
        height: 100%;
        background-image: url('cart.png');
        background-repeat: no-repeat;
        background-size: 100%;
        /* border: 2px solid white; */
    }
    .productcollection2{
        flex-wrap: wrap;
        height: 100vh;
    }
    .product2{
        width: 30vw;
        height: 43%;
    }
    .productcollection1,.productcollection3{
     flex-wrap: wrap;
     height: 95vh;
    }
    .product1{
     width: 45vw;
     height: 40vh;
    }
   .fotter1{
        display: none;
    }
    .fotter2{
        display: flex;
        justify-content: center;
        width: 100vw;
        align-items: center;
        margin: auto;
    }
}
@media screen and (max-width:220px){
    #location{
        display: none;
       }
    #rightdown{
        display: none;
    }
       #downavbar{
       display: none;

    }
    #countary{
        display: none;
       }
       #order{
           display: none;
       }
       #basket{
           display: none;
       }
       .topscoller{
        display: none;
       }
    #upper{
        display: flex;
        flex-direction: column;
        height: 15vh;
    }
    #uppernavebar{
        height: 7vh;
        align-items: center;
    }
    #all{
        width: 5.3vw;
        height: 100%;
    }
    #logo{
        margin-top: 10px;
        width: 30vw;
        height: 95%;
    }
    #uppernave1{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        width: 100vw;
        align-items: center;
        height: 5vh;
    }
    #search{
     width: 95vw;
     height: 60%;
    }
    .search{
        width: 70vw;
        font-size: x-small;
    }
    #all{
    display: none;
    }
    #sb{
     width: 15vw;
    }
  
    #order2{
        margin-top: 5px;
        margin-left: 10px;
        width: 45vw;
        height: 90%;
        /* border: 2px solid white; */
        background-image: url('re.png');
        background-repeat: no-repeat;
        background-size: 60%;
    }
    #basket2{
        width: 20vw;
        height: 100%;
        background-image: url('cart.png');
        background-repeat: no-repeat;
        background-size: 100%;
        /* border: 2px solid white; */
    }
    .productcollection2{
        flex-wrap: wrap;
        height: 100vh;
    }
    .product2{
        width: 40vw;
        height: 30%;
    }
    .productcollection1,.productcollection3{
     flex-wrap: wrap;
     height: 170vh;
    }
    .product1{
     width: 80vw;
     height: 40vh;
    }
    .fotter1{
        display: none;
    }
    .fotter2{
        display: flex;
        justify-content: center;
        width: 100vw;
        align-items: center;
        margin: auto;
    }
}
